<div class="panel panel-default popup">
  <div class="panel-heading">
    <h3 class="panel-title" translate>{{action}}</h3>
    <i class="glyphicon glyphicon-remove action action-close right" ng-click="closeThisDialog(true)"></i>
  </div>
  <div class="panel-body">
    <ng-form name="publisherForm">
    <div class="col-lg-12">
      <label translate>name</label>
      <input name="name" type="text" class="form-control" ng-model="name" minlength="5"
      uib-tooltip="Мінімальна довжина 5" tooltip-is-open="publisherForm.name.$invalid" tooltip-trigger="none" ng-change="checkForm()">
      <label translate>email</label>
      <input name="email" type="email" class="form-control" ng-model="email" minlength="5" 
      uib-tooltip="Це не email" tooltip-is-open="publisherForm.email.$invalid" tooltip-trigger="none" ng-change="checkForm()">
      <label translate>officialSite</label>
      <input name="officialSite" type="text" class="form-control" ng-model="officialSite" minlength="5"
      uib-tooltip="Мінімальна довжина 5" tooltip-is-open="publisherForm.officialSite.$invalid" tooltip-trigger="none" ng-change="checkForm()">
      <label translate>address</label>
      <input name="address" type="text" class="form-control" ng-model="address" minlength="5"
      uib-tooltip="Мінімальна довжина 5" tooltip-is-open="publisherForm.address.$invalid" tooltip-trigger="none" ng-change="checkForm()">
      <label translate>telephoneNumber</label>
      <input name="telephoneNumber" type="text" class="form-control" ng-model="telephoneNumber" placeholder="Example: 0986171061" pattern="^([0-9]*)$" maxlength="10"
      uib-tooltip="Тільки цифри"  tooltip-is-open="publisherForm.telephoneNumber.$invalid" tooltip-trigger="none" ng-change="checkForm()">
    </div>
    </ng-form>
    <div class="col-lg-12 tools">
      <button type="submit" ng-class="{'disabled': !formValid}" class="btn btn-primary" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i> <span translate>save</span></button>
      <button class="btn btn-default right" ng-click="closeThisDialog(true)" style="margin-right: 15px;"><span translate>cancel</span></button>
    </div>
  </div>
</div>