<div class="row home">
  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#/book"><img src="/dist/img/book.svg" alt="book"></a>
      <div class="caption">
        <h3><a href="#/book" translate>book</a></h3>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#/publisher"><img src="/dist/img/publisher.svg" alt="publisher"></a>
      <div class="caption">
        <h3><a href="#/publisher" translate>softwsare</a></h3>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#/author"><img src="/dist/img/author.svg" alt="author"></a>
      <div class="caption">
        <h3><a href="#/author" translate>author</a></h3>
      </div>
    </div>
  </div>  
</div>