<div class="row profile">
  <div class="col-lg-9">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading no-padding">
        <ol class="breadcrumb no-margin">
          <li>
            <i class="fa fa-dashboard"></i>  <a href="#/home" translate>home</a>
          </li>
          <li>
            <i class="fa fa-dashboard"></i>  <a href="#/{{table}}" translate>{{table}}</a>
          </li>
          <li class="active" translate>
            <i class="fa fa-table" ></i> {{profile.name}}
          </li>
        </ol>
      </div>
      <div class="panel-body">
        <div class="col-lg-6">
          <div
            flow-init="target"
            flow-file-added="$file.size < 512000"
            flow-file-success="getLogoById(id); $flow.files[0].cancel();"
            flow-drop>
            <div ng-init="imageUploadShow = false"
              ng-mouseover="imageUploadShow = true"
              ng-mouseleave="imageUploadShow = false">
              <img class="logo" ng-if="$flow.files[0] == null" class="avatar" ng-src="data:image/png;base64, {{bookImage}}" onerror="this.src = '/dist/img/no_image.gif'">
              <div ng-if="$flow.files[0] != null">
                <uib-progressbar id="ownerProgressUpload" class="progress" value="$flow.files[0].progress() * 100" type="primary"></uib-progressbar>
                <img class="logo" flow-img="$flow.files[0]" width="100%">
                <i class="remove-image" ng-click="$flow.files[0].cancel();" uib-tooltip="Remove"></i>
              </div>
              <div ng-show="imageUploadShow" class="owner-image-upload full-width show-hide" flow-btn>
                <center>
                <div>
                  <i class="glyphicon glyphicon-arrow-up"></i>
                  <span ng-if="devLogo.logo != 'null'" translate>change</span>
                  <span ng-if="devLogo.logo == 'null'" translate>add</span>
                </div>
                </center>
              </div>
            </div>
            <button ng-if="$flow.files[0] != null" type="submit" class="btn btn-primary full-width" ng-class="{'disabled': $flow.files[0] == null}" ng-click="$flow.upload();">apply</button>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td translate>name</td><td><b>{{profile.name}}</b></td>
              </tr>
              <tr>
                <td translate>publisherYear</td><td><b>{{profile.publisherYear}}</b></td>
              </tr>
              <tr>
                <td translate>countPages</td><td><b>{{profile.countPages}}</b></td>
              </tr>
              <tr>
                <td translate>sizeFile</td><td><b>{{profile.sizeFile}}</b></td>
              </tr>
              <tr>
                <td translate>addressFileOnDisk</td><td><b>{{profile.addressFileOnDisk}}</b></td>
              </tr>
              <tr>
                <td translate>addressFileOnNet</td><td><b>{{profile.addressFileOnNet}}</b></td>
              </tr>
              <tr>
                <td translate>addressFileOnNet</td><td><b>{{profile.addressFileOnNet}}</b></td>
              </tr>
              <tr>
                <td translate>author</td>
                <td><b><a 
                  uib-popover="{{profile.author.email}}, {{profile.author.birthday}}" popover-trigger="mouseenter" popover-title="{{profile.author.firstName}} {{profile.author.lastName}}"
                  href="#/author/{{profile.author.id}}">{{profile.author.firstName}} {{profile.author.lastName}}</b></a>
              </td>
              </tr>
              <tr>
                <td translate>publisher</td>
                <td><b><span 
                  uib-popover="{{profile.publisher.email}}, {{profile.publisher.officialSite}}, {{profile.publisher.address}}, {{profile.publisher.telephoneNumber}}" popover-trigger="mouseenter" popover-title="{{profile.publisher.name}}"
                  href="#/publisher/{{profile.publisher.id}}">{{profile.publisher.name}}</b></span>
              </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>